body{
    text-align: center;

}

.main {
    position: relative;
    margin: 50px auto;
    border: solid 2px black;
}
img {
    user-select: none;
    border: solid 2px black;
}


.container {
    position: absolute;
    display: inline-flex;
    background-color: gray;
    opacity: 0.7;
    border-radius: 5px;
    cursor: move;
    /*padding: 3px;*/
    user-select: none;
}

.childDiv {
    /*padding: 3px;*/
    user-select: none;
}

.close {
    border: solid 2px black;
    border-radius: 5px;
    /*padding: 3px;*/
    cursor: pointer;
    color: red;
}