body{
    text-align: center;
}

img {
    user-select: none;
}

.main {
    position: relative;
    margin: 50px auto;
    border: solid 2px black;
}

.container {
    position: absolute;
    display: inline-flex;
    background-color: black;
    opacity: 0.6;
    border-radius: 5px;
    cursor: move;
    user-select: none;
    padding: 5px;
}

.childDiv {
    user-select: none;
    /*margin: 2px;*/
    color: white;
}

.close {
    border-radius: 5px;
    cursor: pointer;
    color: red;
    /*margin: 2px;*/
}
input{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    max-lines: 5;
}